@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #2a527a;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a527a;
    --foreground: #0a0a0a;
  }
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(to right top, #243c56, #274361, #2a4b6d, #2c5279, #2f5a85, #416892, #5177a0, #6286ae, #829fc0, #a3b9d2, #c5d4e4, #e7eff7);
}
